* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --percent: 50%;
}

#header {
    width: 100%;
    padding: 10px;
}

.img-logo {
    width: 100px;
    height: auto;
    display: inline-block;
    position: relative;

}

.info {
    position: absolute;
    display: inline-block;
    padding-left: 20px;
}

.company-name {
    height: 60px;
    font-size: 50px;

}

.note-color {
    padding-left: 35px;
}

.deparments-name {
    height: 33px;
    font-size: 30px;
    position: fixed;
    top: 72px;
}

#report-table {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.bar-chart,
.report-table-current {
    width: 48%;
    height: 80%;
    max-height: 800px;
    overflow-y: auto;
}

.bar-chart {
    max-width: 50%;
}

.bar-chart-month {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.bar-chart-month div {
    margin-bottom: 5px;
}

.bar-chart-month .month {
    padding: 10px 0;
}

.sumAll,
.complete,
.backlog {
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.sumAll {
    background-color: rgb(49, 49, 255);
}

.complete {
    background-color: rgb(255, 114, 49);
}

.backlog {
    background-color: rgb(110, 110, 110);
}

.table-header {
    width: 100%;
    border-collapse: collapse;
}

.title-row td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.title-row td:nth-child(1),
.title-row td:nth-child(2),
.title-row td:nth-child(3),
.title-row td:nth-child(4) {
    width: 25%;
}


.bar-chart .sumAll {
    background-color: rgb(83, 83, 255);
    width: var(--percent);
    display: inline-block;
    text-align: center;
    margin: 2px 0;

}

.bar-chart .complete {
    background-color: rgb(255, 114, 49);
    width: var(--percent);
    display: inline-block;
    text-align: center;
    margin: 2px 0;

}

.bar-chart .backlog {
    background-color: rgb(110, 110, 110);
    width: var(--percent);
    display: inline-block;
    text-align: center;
    margin: 2px 0;

}



li:first-child::marker {
    color: rgb(83, 83, 255);
    font-size: 25px;
    content: '■';
    margin: 5px;
}

li:nth-child(2)::marker {
    color: rgb(255, 114, 49);
    font-size: 25px;
    content: '■';
    margin: 5px;
}

li:nth-child(3)::marker {
    color: rgb(110, 110, 110);
    font-size: 25px;
    content: '■';
    margin: 5px;
}


#footer {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
}


#footer .btn-report-deparments button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    min-width: 200px;
}